#forecasts {
  background-color: var(--color-primary-700);
  min-height: 100vh;
  position: relative;
}

#forecast-container {
  background-color: var(--color-primary-500);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.forecast-city {
  text-align: center;
  padding-bottom: 2rem;
  display: block;
  font-size: 30px;
  color: black;
}

.weather-forecast-5days {
  text-align: center;
}
