#main-nav {
  background-color: var(--color-gray-900);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 100;
}

.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#main-nav-list {
  display: flex;
  gap: 1rem;
  padding-left: 0;
  margin-bottom: 0;
}

#main-nav-list a {
  text-decoration: none;
  color: var(--color-primary-600);
}

#main-nav-list a:hover,
#main-nav-list a.active {
  font-weight: bolder;
  color: var(--color-primary-900);
}

.navbar-feature {
  color: #fff;
  border-radius: 0.5rem;
  background-color: transparent;
  border-color: #212529;
  border: transparent;
}

.navbar-feature.button {
  color: var(--color-primary-600);
}

.navbar-feature :hover {
  font-weight: bolder;
  color: var(--color-primary-900);
}
