.open-weather {
  background-color: rgb(240, 196, 116);
  min-height: 100vh;
  position: relative;
}

.open-weather-container {
  text-align: center;
  padding: 10px;
  height: 200px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search div input {
  width: fit-content;
}

.open-weather .open-weather-container .title {
  font-size: 30px;
  color: white;
}

.invalid div input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid div input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
