.search div input {
  width: fit-content;
}

.invalid div input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
.invalid div input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.error-text {
  color: #b40e0e;
}
